.Card {
  position: relative;
  min-width: 8em;
  min-height: 10em;
  background-color: white;
  border-radius: .5em;
  border: 4px solid black;
  transition: .25s;
}

.Card:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.Card-value {
  --space: .5em;
  position: absolute;
  font-weight: 900;
}

.Card-value.top {
  top: var(--space);
}
.Card-value.left {
  left: var(--space);
}
.Card-value.bottom {
  bottom: var(--space);
}
.Card-value.right {
  right: var(--space);
}
